.Dokusha {
  text-align: center;
}

.Dokusha-logo {
  height: 80px;
}

.Dokusha-header {
  background-color: #604000;
  height: 150px;
  padding: 20px;
  color: white;
}

.Dokusha-intro {
  font-size: large;
}

.login-button {
  background-color: inherit;
  padding: 10px;
  border-style: solid;
  font-size: large;
  color: black;
}
