.Dokusha {
  text-align: center;
}

.Dokusha-logo {
  animation: Dokusha-logo-spin infinite 20s linear;
  height: 80px;
}

.Dokusha-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Dokusha-intro {
  font-size: large;
}

.login-button {
  background-color: inherit;
  padding: 10px;
  border-style: solid;
  font-size: large;
  color: black;
}

@keyframes Dokusha-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
